*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header
{
    width: 100%;
    padding: 10px 30px;
    background-color: #EE534F;
   
}
.header h3
{
    font-weight: bold;
    color: white;

}
.upper_box
{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 30px;
    
    
}
.upper_box  .left_box
{
    width: 50%;
    height: 100%; 
}
.upper_box  .left_box button
{
    border: none;
    outline: none;
    background-color: #4286F5;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
}
 /* .upper_box  .right_box
{
    width: 50%;
    height: 100%;
    background-color: #52f400;
}  */
.table_box
{
    width: 100%;
    padding: 30px;
    height: 100%;
}
.table_box table
{
    width: 100%;
    border: 1px solid #ccc;
}
.table_box table tr th
{
    padding: 20px;
    border-bottom: 5px solid #ccc;
    font-size: 14px;
}
.table_box table tr td
{
    padding: 10px 0px 5px 0px;
    text-align: center;
    font-size: 13px;
    
    
}
.table_box table tr button
{
    border: none;
    outline: none;
    background-color: #4286F5;
    padding: 5px;
    margin: 0px 5px 5px;
    width: 33%;
}
.model
{
    width: 0%;
    height: auto;
    position: fixed;
    top:50%;
    left: 50%;
    background-color:  #cdcdcd;
    transform: translate(-50%,-50%);
    display: flex;
    border-top: 20px groove #4286F5;
    z-index: -1;
    opacity: 0; 
    transition: 100s infinite;
}
.model.active
{
    opacity: 1;
    z-index: 1;
    width: 70%;
}
.model .close-icon 
{
    position: absolute;
    right: -20px;
    top: -25px;
    font-size: 30px;
    padding: 10px;
    color: rgb(175, 5, 5);
}
.model .left_model
{
    width: 30%;
    height: 100%;
    background-color: #cdcdcd;
}
.model .left_model .img_box
{
    width: 100%;
    height: 300px;
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
}
.model .left_model .img_box input
{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top:80px;
    opacity: 0;
}
.model .left_model .img_box i
{
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 10px;
    top:70px;
    color:#4286F5
}

.model .right_model
{
    width: 70%;
    height: 100%;
    border-left: 5px groove #4286F5;
    
}

.model .right_model .input_box label
{
   padding: 7px;
}
.model .right_model .input_box input
{
     width: 70%;
     margin-left:15px ;
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid #4286F5;
}

